:root {  
    --darkest-color: #2f184b;  
    --shadow-color: #9b72cf;  
    --lightest-color: #c8b1e4;  
    --secondary-color: #f4effa;  
    --primary-color: #532b88;  
}  

/* Globální styly */  
* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
}  

html, body {  
    height: 100%;  
}  

body {  
    font-family: 'Arial', sans-serif;  
    background-color: var(--secondary-color);  
    color: var(--darkest-color);  
}  

/* Navigační menu */  
.navbar {  
    background-color: var(--darkest-color);  
    padding: 1rem 0;  
    box-shadow: 0 4px 6px var(--shadow-color);  
}  

.navbar .navbar-brand {  
    color: #fff;  
    font-size: 1.5rem;  
    text-decoration: none;  
}  

.navbar .nav-link {  
    color: #fff;  
    text-decoration: none;  
    font-weight: bold;  
    transition: color 0.3s;  
}  

.navbar .nav-link:hover {  
    color: var(--lightest-color);  
}  

.btn-shadow {  
    padding: 0.5rem 1rem;  
    background-color: var(--shadow-color);  
    border: none;  
    border-radius: 4px;  
    cursor: pointer;  
    transition: background-color 0.3s;  
    color: #fff;  
}  

.btn-shadow:hover {  
    background-color: var(--darkest-color);  
}  

.btn-lightest {  
    padding: 0.75rem 1.5rem;  
    background-color: var(--darkest-color);  
    color: var(--shadow-color);  
    text-decoration: none;  
    font-weight: bold;  
    border-radius: 4px;  
    transition: background-color 0.3s;  
}  

.btn-lightest:hover {  
    background-color: var(--shadow-color);  
}  

/* Background obrázek */  
.hero {  
    position: relative;  
    height: 91vh;  
    overflow: hidden;  
}  

.display-4 {  
    color: var(--lightest-color);  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
    font-size: calc(1.475rem + 2.7vw);  
    font-weight: 300;  
    line-height: 1.2;  
}  

.lead {  
    color: var(--lightest-color);  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
    font-size: 1.25rem;  
    font-weight: 300;  
}  

.hero-image {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    filter: brightness(70%);  
    transition: transform 0.5s;  
}  

.hero:hover .hero-image {  
    transform: scale(1.05);  
}  

.overlay {  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
}  

/* Text mise... */  
.mission {  
    background-color: var(--lightest-color);  
    color: var(--darkest-color);  
}  

.mission h2 {  
    color: var(--darkest-color);  
}  

.mission p {  
    font-size: 1.1rem;  
    line-height: 1.6;  
}  

/* Recenze*/
.recenze {  
    color: var(--lightest-color);

}

#toggleReviewForm, #submitReview {
    display: block;
    margin: 0 auto;
    background-color: var(--primary-color); /* Použití primární barvy */
    color: var(--lightest-color); /* Použití nejsvětlejší barvy */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggleReviewForm:hover, #submitReview:hover {
    background-color: var(--darkest-color); /* Změna barvy při hoveru */
}

#reviewForm {
    text-align: center;
}

#reviewName {
    width: auto;
    margin: 0 auto;
}

#reviewStars {
    margin: 0 auto;
    width: auto;
}

#reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#reviews > .review {
    flex: 0 0 calc(20% - 1rem); /* Zmenšení šířky rámečků */
    box-sizing: border-box;
    text-align: center; /* Vycentrování obsahu */
    border: 2px solid var(--lightest-color); /* Tmavě fialový rámeček */
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.1rem; /* Zvětšení velikosti písma o 3px */
}

#reviewInput {
    width: 40%; /* Zmenšení šířky na méně než polovinu */
    min-width: 200px; /* Minimální šířka pro menší obrazovky */
    margin: 0 auto; /* Zarovnání na střed */
    display: block;
    resize: vertical; /* Povolení vertikálního rozšiřování */
}

/* Responzivní design pro recenze */
@media (max-width: 1080px) {
    #reviews > .review {
            flex: 0 0 calc(50% - 1rem);
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            margin: 5px;
        }
    
}
/* Footer */  
.footer {  
    background-color: var(--darkest-color);  
    color: var(--lightest-color);  
    text-align: center;  
    padding: 1rem 0;  
    margin-top: auto;  
}

.footerContent {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
}

.footerText {  
    margin-bottom: 0%;
}

.footer a:hover {  
    color: var(--lightest-color);  
    text-decoration: underline;  
}  

/* Responsivní design pro tablety*/   
@media (max-width: 992px) {  
    .navbar .dropdown-menu {  
        width: 100% !important;  
    }  
}  

/* Responsivní design */  
@media (max-width: 768px) {  
    .navbar .navbar-nav {  
        text-align: center;  
    }  
    
    .navbar .d-flex {  
        justify-content: center;  
        width: 100%;  
    }  
        
    .navbar .dropdown-menu {  
        width: 100% !important;  
    }  

    .hero {  
        height: 60vh;  
    }  

    .overlay h1 {  
        font-size: 2rem;  
    }  

    .mission h2 {  
        font-size: 2rem;  
    }  
}  

/* Dual Slider pro cenu */  
.price-filter {  
    position: relative;  
    width: 100%;  
    margin-top: 20px;  
    display: flex;  
    flex-direction: column;  
    align-items: stretch;  
}  

.price-value {  
    display: flex;  
    justify-content: space-between;  
    margin-bottom: 10px;  
    color: var(--darkest-color);  
    font-weight: bold;  
}  

.slider-container {  
    position: relative;  
    width: 100%;  
    height: 40px; /* Zvýšená výška pro lepší rozložení */  
}  

.slider-track {  
    position: absolute;  
    height: 8px;  
    border-radius: 5px;  
    background: var(--shadow-color);  
    width: 100%;  
    top: 50%;  
    transform: translateY(-50%);  
}  

.slider-range {  
    position: absolute;  
    height: 8px;  
    border-radius: 5px;  
    background: var(--primary-color);  
    top: 50%;  
    transform: translateY(-50%);  
}  

.slider-min, .slider-max {  
    -webkit-appearance: none;  
    appearance: none;  
    width: 100%;  
    height: 8px;  
    background: transparent;  
    pointer-events: none;  
    position: absolute;  
    top: 50%;  
    transform: translateY(-50%);  
}  

/* Zarovnání posuvacích těles */  
.slider-min::-webkit-slider-thumb, .slider-max::-webkit-slider-thumb {  
    -webkit-appearance: none;  
    appearance: none;  
    width: 20px;  
    height: 20px;  
    background: var(--lightest-color);  
    border-radius: 50%;  
    border: 2px solid var(--darkest-color);  
    pointer-events: all;  
    cursor: pointer;  
    margin-top: -10px; /* Upraveno pro lepší zarovnání */  
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);  
}  

.slider-min::-moz-range-thumb, .slider-max::-moz-range-thumb {  
    width: 20px;  
    height: 20px;  
    background: var(--lightest-color);  
    border-radius: 50%;  
    border: 2px solid var(--darkest-color);  
    pointer-events: all;  
    cursor: pointer;  
    margin-top: -10px; /* Upraveno pro lepší zarovnání */  
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);  
}  

#filterButton:hover {  
    background-color: var(--shadow-color);  
}  

/* Border around the entire filter section */  
#filterCollapse {  
    border: 2px solid var(--darkest-color);  
    border-radius: 8px;  
    padding: 15px;  
    background-color: var(--secondary-color);  
}  
/* Tlačítko hledání */  
#filterButton {  
    background-color: var(--darkest-color); /* Použití nejtmavější barvy */  
    border: none;  
    border-radius: 5px;  
    color: var(--lightest-color); /* Použití nejsvětlejší barvy */  
}  

#filterButton:hover {  
    background-color: var(--shadow-color);  
    color: var(--darkest-color); /* Změna barvy textu při hoveru */  
}  

.btn-darkest {  
    background-color: var(--darkest-color);  
    color: var(--lightest-color);  
    border: none;  
}  

.btn-darkest:hover {  
    background-color: var(--shadow-color);  
    color: var(--darkest-color);  
}
.list-group-item {  
    background-color: var(--secondary-color);  
    color: var(--darkest-color);  
    border: 1px solid var(--darkest-color);  
    transition: background-color 0.3s, color 0.3s;  
}  

.list-group-item:hover {  
    background-color: var(--shadow-color);  
    color: var(--lightest-color);  
}  
.list-group-item.active {  
    z-index: 2;  
    color: #2f184b;  
    background-color: #c8b1e4;  
    border-color: #c8b1e4;  
}