/* nastavuje barvu pozadí a font  */
body {
  background-color: #cccccc;
  font-family: Arial, sans-serif;
  margin: 0%;
}
/* nastavuje logo vlevo*/
.🐐{
  max-height: 53px;
  padding-left: 15px;
  margin-top: 11px;
}
header {
  background-color: #0f0f0f;
  overflow: hidden; 
  height: 77px;
  position: sticky;
  top: 0%;
  z-index: 999;
}

/* menu */
#menu {

  background-color: #0f0f0f;
  overflow: hidden; 
  max-height: 77px;
}
#menu a.right{
  margin-right: 15px;
}

#menu a {
  font-family: 'Bebas Neue',Arial, sans-serif;
  font-size: 34px;
  float: right;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
}
#menu a.active {
  background-color: #9d2f2d;
  color: white;
}

#menu a:hover:not(.active) {
  background-color: whitesmoke;
  color: #9d2f2d;
}
 /*oděluje backgrond od sebe*/
main {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-section {
  width: 100%;
  height: 840px;
  background-size: cover;
  background-position: center;
  padding-bottom: 620px;
}

.background-section:nth-child(odd) {
  background-image: url(../obrazky/backgorundfirst.png);
}

.background-section:nth-child(even) {
  background-image: url(../obrazky/background.png);
  margin-bottom: 90px;
}

/*nastavuje footer*/
footer {
  background-color: #0f0f0f;
  color: #9d2f2d;
  width: 98%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0%;
}

/*nastavuje footer ikonky*/
.🦾 {
  max-width: 35px;
  max-height: 35px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ikonky {
  display: flex;
  align-items: center;
}

.text-container,p {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
  font-family: 'Kodchasan', sans-serif;
}

.prave-logo {
  display: flex;
  align-items: center;
}

.prave-logo img {
  height: 38px;
  border-radius: 0%;
}